/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

 
  
.markdown code {
padding: 0 0.25rem;
background: var(--gray-200);
border-radius: 0.25rem;
font-size: 1em;
font-family: 'roboto' , sans-serif;
}